.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #203a43;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
    padding: 2rem 1rem;
    z-index: 1100;
  }
  
  .sidebar.sidebar-open {
    right: 0;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 1rem 0;
  }
  
  .sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .sidebar ul li a:hover {
    color: #fdb813;
  }
  